@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Bruno Ace SC", cursive;
}

.unset {
  @media (min-width: 1024px) {
    all: unset;
  }
}

.animation {
  animation: shift 0.2s linear forwards;
}

@keyframes shift {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: none;
  }
}
