@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Bruno Ace SC", cursive;
}

@media (min-width: 1024px) {
  .unset {
    all: unset;
  }
}

.animation {
  animation: shift 0.2s linear forwards;
}

@keyframes shift {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: none;
  }
}

.setgrid {
  grid-template-columns: 2fr 1fr 0.5fr;
}

@media (min-width: 640px) {
  .setgrid {
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
  }
}
